@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #111;
  color: #f6f6f6;
}

/***************** Header *****************/

#header {
  width: 100%;
}

#nav-brand {
  transition: 0.6s ease;
}
#nav-brand:hover {
  transform: scale(1.2);
}

#logo {
  font-size: 2.5rem;
  text-decoration: none;
  color: #f6f6f6;
  transition: 0.7s;
}
#logo:hover {
  color: #ffcb74;
}

.container {
  padding: 50px 5%;
}

nav {
  position: fixed;
  top: 0;
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0rem 1rem 1px 2rem;
  z-index: 1;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 8px 10px;
}

nav ul li a {
  color: #f6f6f6;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a:hover {
  color: #ffcb74;
  transition: 0.6s;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #f6f6f6;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s ease;
}

nav ul li a:hover::after {
  width: 100%;
  background: #ffcb74;
}

.header-text {
  margin-top: 15%;
  font-size: 35px;
  margin-bottom: 5%;
}

.header-text h1 span {
  color: #ffcb74;
}

.motto {
  font-size: 20px;
}

.social-media {
  padding-top: 30px;
}
.social-media a {
  display: inline-flex;
  justify-content: end;
  align-items: center;
  margin: 0.5rem 1.5rem 0px 0px;
  background-color: transparent;
  font-size: 45px;
  color: #f6f6f6;
  text-decoration: none;
  transition: 0.3s ease;
}

.social-media a:hover {
  transform: scale(1.2);
  color: #ffcb74;
}
.btn {
  display: inline-block;
}

.btn:hover {
  width: 200px;
}
/***************** End of Header*****************/

/***************** About me*****************/

#about {
  padding: 0 0 0 0; /* Top, Right, Bottom, Left*/
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 #nin-image {
  width: 100%;
  border-radius: 30px;
}

.about-col-1 img {
  animation: float 2s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.about-col-2 {
  flex-basis: 60%;
}

#sub-title {
  font-size: 50px;
  font-weight: 650;
}

.tab-titles {
  display: flex;
  margin: 20px 0 25px;
}

.tab-links {
  margin-right: 50px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 2px;
  background: #f6f6f6;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 100%;
  background-color: #ffcb74;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0px;
}

.tab-contents ul li span {
  font-size: 18px;
  color: #ffcb74;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/******************** End of About **********************/

/************************* Skills bar*******************************/
.skill-bar {
  height: 15px;
  width: 30%;
  background-color: #d3d3d3;
  border-radius: 50px;
  position: relative;
  margin-top: 10px;
}

.skill-progress {
  height: 100%;
  background-color: #ffcb74;
  border-radius: 50px;
}

.skill-text {
  position: absolute;
  top: 0;
  left: 70%;
  width: 100%;
  transform: translateX(-50%);
  color: #000;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
}
/************************* End of Skills bar*******************************/

/******************** Services **********************/

#services {
  padding: 30px 0px;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 50px;
}

.service-list div {
  background-color: #262626;
  padding: 40px;
  font-size: 18px;
  font-weight: 300;
  transition: 0.3s ease;
  border-radius: 20px;
}

.service-list div i {
  font-size: 50px;
  margin-bottom: 20px;
}

.service-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.service-list div a {
  text-decoration: none;
  color: #f6f6f6;
  font-size: 25px;
  margin-top: 20px;
  display: inline-block;
}

.service-list div:hover {
  color: #262626;
  background: #ffcb74;
  transform: translateY(-10px);
}

/****************** Portfolio ********************/

#portfolio {
  padding: 30px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  display: block;
  border-radius: 20px;
  transition: 0.3s ease;
}

.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(to top, #ffcb74, #00000000);
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 20px;
  text-align: center;
  font-size: 20px;
  transition: 0.3s ease;
  color: #111;
}

.layer h3 {
  font-weight: 800;
  padding-top: 70px;
  margin-bottom: 10px;
}

.layer a {
  margin-top: 10px;
  color: #ffcb74;
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  background: #f6f6f6;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn-see-more {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ffcb74;
  padding: 14px 50px;
  border-radius: 20px;
  text-decoration: none;
  background-color: #ffcb74;
  color: #000000;
  transition: 0.3s ease;
}

.btn-see-more:hover {
  transform: translateY(-5px);
}

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 50px;
}
.contact-left p i {
  color: #ffcb74;
  margin-right: 15px;
  font-size: 30px;
}

.social-icons {
  margin: 20px 0 0 0;
}

.social-icons a {
  text-decoration: none;
  font-size: 50px;
  margin-right: 15px;
  color: #f6f6f6;
  transition: transform 0.3s ease;
  display: inline-block;
}

.social-icons a:hover {
  transform: translateY(-10px);
  color: #ffcb74;
}

.btn-see-more.btn-resume {
  display: inline-block;
  background: #ffcb74;
  margin-top: 10px;
}

.contact-right {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  padding: 20px;
  margin: 10px 0;
  background-color: #262626;
  color: #f6f6f6;
  font-size: 18px;
  border-radius: 20px;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px;
  background-color: #262626;
  margin-top: 15px;
  font-weight: 300;
}

#msg {
  color: #61b752;
  margin-top: -10px;
  display: block;
}

/************ Modal ***************************/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid #ffcb74;
  border-radius: 20px;
  z-index: 10;
  background-color: #262626;
  max-width: 500px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffcb74;
  font-size: 30px;
}

.modal-header title {
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  color: #fff;
  font-weight: bold;
}
.modal-body {
  padding: 10px 15px;
}
.contact-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.contact-list li {
  margin-right: 10px;
  font-size: 20px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/** Intro warning modal**/
.intromodal {
  display: none; /* Hide the modal by default */
  position: fixed; /* Position it as fixed */
  z-index: 10; /* Set a high z-index to make it appear on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* Enable scrolling if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
  background-color: #111;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #ffcb74;
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
}

.modal-content p {
  padding: 20px;
  text-align: justify;
}
.modal-content h2 {
  text-align: center;
}
#closeBtn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #111;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #ffcb74;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

/************ Para mag responsive ****************/

nav .menu-icons {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header-text {
    margin: 40% 0;
    font-size: 14px;
  }

  nav .menu-icons {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background-color: #ffcb74;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    z-index: 2;
    transition: 0.5s ease;
    color: #000;
    justify-content: center;
    align-items: center;
  }

  nav ul li {
    display: block;
    margin: 30px;
    color: #000;
  }

  nav ul li a {
    color: #000;
  }

  nav ul .menu-icons {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  #sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
}
